<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <title>台北市災害動態資訊</title>   
    
    <link rel="stylesheet" href="http://meyerweb.com/eric/tools/css/reset/reset.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/jtblin/angular-chart.js/master/dist/angular-chart.css">
    <link rel='stylesheet' href="./css/all.min.css">

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-19743390-17', 'auto');
	  ga('send', 'pageview');

	</script>
</head>

<body ng-app = "app">
 <header>  
	 <h2>台北市災害動態資訊</h2>
 </header> 

  <div ng-controller="GetDisasterSummary" class="col-lg-12">
  <div>
      <div>資料來源：<a href="https://tpe-doit.github.io/eoc_119/ghpage/" target="_blank">臺北市政府 消防局EOC 開放資料專區</a></div>  
      <span>更新時間：{{dataTime}}</span>
      <span style="float:right;"><small>Develop by <a href="https://github.com/ccjeng/TaipeiDisaster" target="_blank">Andy Cheng</a></small></span>
  </div>

  <span class="label label-success">已處理: {{caseDone}}</span> 
  <span class="label label-danger">待處理: {{caseInProgress}}</span> 
  <span class="label label-default">總件數: {{caseInProgress + caseDone}}</span>
  
  
  <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: {{ caseDone / (caseInProgress+caseDone) * 100 }}%">
            {{ caseDone / (caseInProgress+caseDone) * 100 | number:2 }}%
          </div>
          <div class="progress-bar progress-bar-danger" style="width: {{ caseInProgress / (caseInProgress+caseDone) * 100 }}%">            
          </div>
  </div>

  <section ng-init="tab=1">
   <ul class="nav nav-pills">
      <li ng-class="{ active: tab===1 }">
        <a href="" ng-click="tab=1">全部案件查詢</a>
      </li>
      <li ng-class="{ active: tab===2 }">
        <a href="" ng-click="tab=2">災害地圖</a>
      </li>
      <li ng-class="{ active: tab===3 }">
        <a href="" ng-click="tab=3">災情統計</a>
      </li>
     <!-- <li ng-class="{ active: tab===4 }">
        <a href="" ng-click="tab=4">會報指示決策</a>
      </li>-->
   </ul>



  <div class="panel" ng-show="tab===1">
   <div class="form-group">
      <input type="text" id="fullURL" ng-model="search" class="form-control" value="" placeholder="輸入關鍵字查詢"/>          
	  <table class="table table-hover">
	  		<thead>
	        	<tr>
	            	<th>發生時間</th>	            
	            	<th>災情種類</th>
	            	<th>災情描述</th>
	            	<th>行政區</th>
	            	<th>災情地點</th>
                <th>案件狀態</th>
	        	</tr>
	    	</thead>
	    	<tbody>
	    		<tr ng-repeat="case in cases | filter:search | limitTo:100" ng-click="itemClicked($event, $index)">
					  <td>{{case.CaseTime}}</td>
					  <td>{{case.Name}}</td>  
            <td>{{case.CaseDescription}}</td>
					  <td>{{case.CaseLocationDistrict}}</td>
					  <td>{{case.CaseLocationDescription}}</td>
            <td><div ng-if="case.CaseComplete == 'false'">待處理</div><div ng-if="case.CaseComplete == 'true'">已處理</div>
                </td>                    	
		    	</tr>
	    	</tbody>
	  </table>
    </div>   
  </div>
 
  <div class="panel" ng-show="tab===2">
    <div id="map"></div>
  </div>

  <div class="panel" ng-show="tab===3">
      <table class="table table-hover">
            <thead>
                <tr>
                    <th>災情種類</th>    
                    <th>已處理</th>                               
                    <th>待處理</th>
                    <th>總數</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>路樹災情</td>
                    <td>{{doneTotal['路樹災情']}}</td>
                    <td>{{total['路樹災情']-doneTotal['路樹災情']}}</td>                    
                    <td>{{total['路樹災情']}} ({{total['路樹災情']/(caseInProgress+caseDone)*100 | number:2}}%)</td>
                </tr>
                <tr>
                    <td>民生、基礎設施災情</td>
                    <td>{{doneTotal['民生、基礎設施災情']}}</td>
                    <td>{{total['民生、基礎設施災情']-doneTotal['民生、基礎設施災情']}}</td>                    
                    <td>{{total['民生、基礎設施災情']}} ({{total['民生、基礎設施災情']/(caseInProgress+caseDone)*100 | number:2}}%)</td>
                </tr>
                <tr>
                    <td>建物毀損</td>
                    <td>{{doneTotal['建物毀損']}}</td>
                    <td>{{total['建物毀損']-doneTotal['建物毀損']}}</td>                    
                    <td>{{total['建物毀損']}} ({{total['建物毀損']/(caseInProgress+caseDone)*100 | number:2}}%)</td>
                </tr> 
                 <tr>
                    <td>廣告招牌災情</td>
                    <td>{{doneTotal['廣告招牌災情']}}</td>
                    <td>{{total['廣告招牌災情']-doneTotal['廣告招牌災情']}}</td>                    
                    <td>{{total['廣告招牌災情']}} ({{total['廣告招牌災情']/(caseInProgress+caseDone)*100 | number:2}}%)</td>
                </tr>
                <tr>
                    <td>積淹水災情</td>
                    <td>{{doneTotal['積淹水災情']}}</td>
                    <td>{{total['積淹水災情']-doneTotal['積淹水災情']}}</td>                    
                    <td>{{total['積淹水災情']}} ({{total['積淹水災情']/(caseInProgress+caseDone)*100 | number:2}}%)</td>
                </tr>  
                <tr>
                    <td>其他災情</td>
                    <td>{{doneTotal['其他災情']}}</td>
                    <td>{{total['其他災情']-doneTotal['其他災情']}}</td>                    
                    <td>{{total['其他災情']}} ({{total['其他災情']/(caseInProgress+caseDone)*100 | number:2}}%)</td>
                </tr> 
                <tr>
                    <td>土石災情</td>
                    <td>{{doneTotal['土石災情']}}</td>
                    <td>{{total['土石災情']-doneTotal['土石災情']}}</td>                    
                    <td>{{total['土石災情']}} ({{total['土石災情']/(caseInProgress+caseDone)*100 | number:2}}%)</td>
                </tr>  
                <tr>
                    <td>道路、隧道災情</td>
                    <td>{{doneTotal['道路、隧道災情']}}</td>
                    <td>{{total['道路、隧道災情']-doneTotal['道路、隧道災情']}}</td>                    
                    <td>{{total['道路、隧道災情']}} ({{total['道路、隧道災情']/(caseInProgress+caseDone)*100 | number:2}}%)</td>
                </tr> 
                <tr>
                    <td>水利設施災情</td>
                    <td>{{doneTotal['水利設施災情']}}</td>
                    <td>{{total['水利設施災情']-doneTotal['水利設施災情']}}</td>                    
                    <td>{{total['水利設施災情']}} ({{total['水利設施災情']/(caseInProgress+caseDone)*100 | number:2}}%)</td>
                </tr> 
                <tr>
                    <td>鐵路、高鐵及捷運災情</td>
                    <td>{{doneTotal['鐵路、高鐵及捷運災情']}}</td>
                    <td>{{total['鐵路、高鐵及捷運災情']-doneTotal['鐵路、高鐵及捷運災情']}}</td>                    
                    <td>{{total['鐵路、高鐵及捷運災情']}} ({{total['鐵路、高鐵及捷運災情']/(caseInProgress+caseDone)*100 | number:2}}%)</td>
                </tr>                                                                                     
                <tr>
                    <td>車輛及交通事故</td>
                    <td>{{doneTotal['車輛及交通事故']}}</td>
                    <td>{{total['車輛及交通事故']-doneTotal['車輛及交通事故']}}</td>                    
                    <td>{{total['車輛及交通事故']}} ({{total['車輛及交通事故']/(caseInProgress+caseDone)*100 | number:2}}%)</td>
                </tr> 
                                                          
            </tbody>
      </table>

  </div>
    <!--<div class="panel" ng-show="tab===4">
      <table class="table table-hover">
            <thead>
                <tr>
                    <th>會報名稱 / 時間 / 主席</th>                                   
                    <th>指示事項</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="decision in decisions | orderBy:'-DecisionTime'">
                    <td>{{decision.DecisionName}}<br/><br/>{{decision.DecisionTime}}<br/><br/>{{decision.DecisionMan}}</td> 
                    <td>{{decision.Decision}}</td>
                </tr>
            </tbody>
      </table>
  </div>-->
  </section>
    </div>
 </div>
    

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="//maps.googleapis.com/maps/api/js"></script>   
  <script src="//googlemaps.github.io/js-marker-clusterer/src/markerclusterer_compiled.js"></script>
  <script src="//cdn.rawgit.com/ChadKillingsworth/geolocation-marker/master/dist/geolocationmarker-compiled.js"></script>
  <script src="./js/all.min.js"></script>


</body>
</html>
